/*
 * Base structure
 */


/* Move down content because we have a fixed navbar that is 50px tall */


/* Font */

@font-face {
    font-family: 'Gotham';
    src: url('../font/Gotham-Book.otf') format('opentype');
}

@font-face {
    font-family: 'Gotham';
    font-weight: 400;
    src: url('../font/Gotham-Book.otf') format('opentype');
}

@font-face {
    font-family: 'Gotham';
    font-weight: 500;
    src: url('../font/Gotham-Medium.otf') format('opentype');
}


/* End Font */

body {
    font-family: 'Gotham', Helvetica, sans-serif;
    padding-top: 50px;
    color: #333;
    background-color: #eee;
}

section {
    padding: 0 0 70px 0;
}

label {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.4;
    display: inline-block;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 0;

    color: #333;
}

h1 {
    font-size: 60px;
    font-weight: 500;
    line-height: 72px;
}

h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: 55px;
    color: #444;
}

h5,
.h5 {
    font-size: 18px;
    font-weight: 500;

    color: #333;
}

p {
    font-size: 15px;
    line-height: 22px;
}

* {
    -webkit-font-smoothing: antialiased;
}

*:focus {
    border-color: #ccc;
    outline: none !important;
    box-shadow: none !important;
}

select {
    color: #444 !important;
}

a {
    text-decoration-color: #a0830b !important;
}

a:hover, a:focus {
    color: #a0830b !important;
    text-decoration: underline;
}

a[href="mailto://ask@volitioncap.com"] {
    text-transform: lowercase !important;
}

ol li.plain-li {
    padding-bottom: 25px;
}


/* GLOBAL ELEMENTS */


/* Panel titles */

.card-title,
.inner-topic {
    font-family: 'Gotham', Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    display: inline-block;
    margin-bottom: 25px;
    color: #444;
}


.card-title-pool .intro-text {
    color: #444444;
    font-size: 12px;
    line-height: 23px;
}

.card-title-pool .desc-text {
    color: #444444;
    font-size: 15px;
    line-height: 23px;
    ;
}

.parent-card-pool {
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    display: flex;
    justify-content: space-around;
    padding-right: 58px;
}

.btn.update {
    margin: 9px 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    padding: 10px 27px;
}

.card-title-pool {
    padding-left: 0;
    padding-right: 0
}

.parent-card-pool .form-group {
    /*height: 57px;*/
    margin-top: 0;
    margin-bottom: 0!important;
}

.parent-card-pool .form-control {
    font-size: 15px;
    height: 30px!important;
}

table.table-pool th,
table.table-pool td {
    padding: 15px 32px;
}


/* Blog page */

.inner-topic {
    font-weight: 500 !important;
    margin-bottom: 10px;
}

.blog-date {
    font-family: 'Gotham', Helvetica, sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #a1a1a1;
}

@media (max-width: 768px) {
    .card-title,
    .inner-topic {
        font-size: 18px;
        margin-bottom: 25px;
    }
}




/* Panel slots on panels */

.greenpool-slot,
.blackpool-slot,
.redpool-slot {
    width: 80%;
    padding: 10px 20px;
    text-align: center;
    text-transform: capitalize;
    border-radius: 3px;
    background-color: #f3f9f2;
}

.blackpool-slot {
    background-color: #efefef !important;
}

.redpool-slot {
    background-color: #fef2f2 !important;
}


/* Buttons */

button.btn.btn--fill.buttons-csv.buttons-html5 {
    margin: 10px 0;
}

button.btn.btn--fill.buttons-csv.buttons-html5:hover {
    color: #fff !important;
}

.btn-stroke-green {
    font-family: Gotham;
    font-size: 15px;
    font-weight: 500;
    margin-top: 25px;
    padding: 10px 30px;
    text-align: center;
    text-transform: capitalize;
    color: #1d9300;
    border: 1px solid #1d9300;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 3px 10px 3px rgba(29, 147, 0, .08);
}

.btn-stroke-black {
    font-family: 'Gotham', Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-top: 25px;
    padding: 10px 30px;
    text-align: center;
    text-transform: capitalize;
    color: #000;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 3px 10px 3px rgba(0, 0, 0, .08);
}

.btn-stroke-red {
    font-family: 'Gotham', Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-top: 25px;
    padding: 10px 30px;
    text-align: center;
    text-transform: capitalize;
    color: #ea0606;
    border: 1px solid #ea0606;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 3px 10px 3px rgba(234, 6, 6, .08);
}

.btn-stroke-green:hover {
    text-decoration: none !important;
    color: #1d9300 !important;
    background: #f7f7f7;
    box-shadow: 0 3px 5px 1px rgba(70, 155, 49, .2);
}

.btn-stroke-black:hover {
    text-decoration: none !important;
    color: #000 !important;
    background: #f7f7f7;
    box-shadow: 0 3px 5px 1px rgba(49, 49, 49, .2);
}

.btn-stroke-red:hover {
    text-decoration: none !important;
    color: #ea0606 !important;
    background: #f7f7f7;
    box-shadow: 0 3px 5px 1px rgba(237, 53, 53, .2);
}

@media (max-width: 768px) {
    .btn-stroke-green,
    .btn-stroke-black,
    .btn-stroke-red {
        font-size: 12px;
        padding: 7px 15px;
    }
}

.btn-gold-xs {
    font-family: 'Gotham', Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 10px 25px;
    text-transform: capitalize;
    color: #fff;
    border-radius: 3px;
    background-color: #a0830b;
    box-shadow: 0 3px 10px 3px rgba(160, 131, 11, .15);
}

.btn-gold {
    font-family: 'Gotham', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 50px;
    text-transform: capitalize;
    color: #fff !important;
    border-radius: 3px;
    background-color: #a0830b;
    box-shadow: 0 3px 10px 3px rgba(160, 131, 11, .15);
}

.btn-gold-xs:hover,
.btn-gold:hover {
    text-decoration: none !important;
    color: #fff !important;
    border-color: #b19a39;
    background: #b19a39;
    box-shadow: 0 3px 5px 1px rgba(143, 117, 9, .2);
}

.btn-stroke-gold {
    font-family: 'Gotham', Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding: 11px 25px;
    text-transform: capitalize;
    color: #444;
    border: 1px solid #a0830b;
    border-radius: 3px;
    background-color: #f7f7f7;
    box-shadow: 0 3px 10px 3px rgba(160, 131, 11, .14);
}

.btn-stroke-gold:hover {
    text-decoration: none;
    color: #444;
    background: #f7f7f7;
    box-shadow: 0 3px 5px 1px rgba(143, 117, 9, .2);
}

.btn.post {
    margin-bottom: 50px;
}

.btn-xs {
    padding: 8px 13px !important;
    font-size: 13px !important;
}



/* Pagination */

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff !important;
    cursor: default;
    background-color: #a0830b !important;
    border-color: #a0830b !important;
}



.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #a0830b !important;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}



/* Delete text */

#deleteText {
    font-size: 15px;
    font-weight: 400;
    text-decoration: underline;
    text-transform: capitalize;
    color: #ea0606;
    border: none;
    background: none;
    box-shadow: none;
}



/* Text colors */

.green-text {
    color: #1d9300;
}

.black-text {
    color: #000;
}

.red-text {
    color: #ea0606;
}

.gold-text {
    color: #a0830b;
}


/* Text styles */

.desc-text {
    font-size: 15px;
    line-height: 23px;
    color: #444;
    margin-bottom: 25px
}

.desc-text2 {
    font-size: 15px;
    line-height: 23px;
    padding: 10px;
    color: #444;
}

span.green-text h3,
span.black-text h3,
span.red-text h3 {
    font-family: 'Gotham', Helvetica, sans-serif;
    font-size: 28px;
    margin-bottom: 20px;
}

.greenpool-slot h3 {
    font-family: 'Gotham', Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 12px;
    margin-bottom: 10px;
    color: #1d9300;
}

.greenpool-slot p {
    font-family: 'Gotham', Helvetica, sans-serif;
    font-size: 1rem !important;
    font-weight: 400;
    color: #1d9300;
}

.blackpool-slot h3 {
    font-family: 'Gotham', Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 12px;
    margin-bottom: 10px;
    color: #000;
}

.blackpool-slot p {
    font-family: 'Gotham', Helvetica, sans-serif;
    font-size: 1rem !important;
    font-weight: 400;
    color: #000;
}

.redpool-slot h3 {
    font-family: 'Gotham', Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 12px;
    margin-bottom: 10px;
    color: #ea0606;
}

.redpool-slot p {
    font-family: 'Gotham', Helvetica, sans-serif;
    font-size: 1rem !important;
    font-weight: 400;
    color: #ea0606;
}

#greenpool-card h4,
#blackpool-card h4,
#redpool-card h4 {
    font-family: 'Gotham', Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.pool-amount {
    font-family: 'Gotham', Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.pool-cycle {
    font-family: 'Gotham', Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
}


/*
 * Global add-ons
 */

div#search_filter {
    float: right !important;
    margin-top: 18px;
    margin-bottom: 18px;
}

#search_filter {
    width: 245px;

    border-radius: 3px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 190px 10px !important;
    box-shadow: 0 10px 30px 3px rgba(85, 85, 85, .08);
}

input[type='search'] {
    position: relative;
    top: -1.5px;
    left: 14px;
    padding: 8px;
    border: none;
    background: none;
    -webkit-appearance: none;
}

#search_filter label {
    display: inline-block;
    margin-bottom: 0rem;
}

.dataTables_wrapper {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.dataTables_wrapper .search_input input {
    margin-left: 0;
    padding: 5px 30px 5px 15px;
    color: #444;
    border: none;
    border-radius: 100px;
    background-color: transparent;
    box-shadow: none !important;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .search_input,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    color: #444;
}

.dataTables_wrapper .search_input {
    float: right;
    text-align: right;
}

.dataTables_filter input.form-control.form-control-sm {
    background: #fff;
    margin-right: 13px;
}

.dataTables_filter label {
    font-weight: 500;
}

.sub-header {
    font-family: 'Gotham', Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    padding-bottom: 10px;
    color: #444;
}

.page-header {
    color: #333;
    border-bottom: none;
}

.sidebar-logo-img {
    width: auto;
    height: 90px;
}

.sidebar-logo.col-md-6 {
    display: -webkit-box;

    margin: 30px 62px 30px;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
    background-color: transparent;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}

a.accordion-toggle.toggle-switch:focus {
    color: #595959 !important;
}

@media (max-width: 768px) {
    .content-wrapper {
        padding-top: 35px;
    }
    h1 {
        font-size: 25px;
    }
}



/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-header {
    background: #fff;
}

.navbar-brand>img {
    display: block;
    width: auto;
    height: 45px;
}

.navbar-nav {
    margin: 7.5px -15px;
    padding-bottom: 100px;
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
    max-height: 100vh;
    overflow-y: scroll;
}

.navbar-inverse {
    border-bottom: 1px solid #eee;
}

@media (min-width: 992px) {
    .navbar {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav>li {
        float: left;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        max-height: 100vh;
        overflow-y: scroll;
    }
}

@media (max-width: 1024px) {
    .navbar {
        display: block;
    }
    .navbar-brand>img {
        height: 30px;
    }
    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #000;
    }
    .navbar-toggle .icon-bar {
        display: block;
        width: 25px;
        height: 2px;

        border-radius: 0;
    }
    .navbar-toggle {
        position: relative;
        float: right;
        margin-top: 15px;
        margin-right: 15px;
        padding: 9px 10px;
        /* margin-bottom: 8px; */
        border: 1px solid transparent;
        border-radius: 0;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-header {
        width: 100vw;
        padding: 0 10px 10px;

        background: #fff;
    }

    .box,
    .table-box {
        margin-bottom: 30px;
    }
}




/*
 * Sidebar
 */


/* Hide for mobile, show later */

.sidebar {
    top: 0;
    display: none;
}

.login .col-sm-3.col-md-2.sidebar {
    display: none;
}

#submenu-2 li, #submenu-3 li {
    margin: 20px 0 20px 20px;
    list-style: none;
}

a {
    color: #9d9d9d;
    text-decoration: none;
}

.sidebar li a {
    font-family: 'Gotham', Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-weight: 500;
    line-height: 14px;
    text-decoration: none;
    color: #595959;
}

@media (min-width: 1025px) {
    .sidebar {
        position: fixed;
        z-index: 1000;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
        width: 250px;
        padding: 0;
        border-right: 1px solid #eee;
        background-color: #fff;
    }
}



/* Sidebar navigation */

.nav-sidebar {
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
    border-top: 1px solid rgba(151, 151, 151, .15);
}

.nav-sidebar>li>a {
    padding: 14px 20px 14px 40px;
}

.nav-sidebar>.active>a,
.nav-sidebar>.active>a:hover,
.nav-sidebar>.active>a:focus {
    font-family: 'Gotham', Helvetica, sans-serif;
    font-size: 15px;
    line-height: 14px;
    color: #a0830b;
    background-color: transparent;
    background-color: #f5f5f5;
}

.nav>li>a:hover,
.nav>li>a:focus {
    font-family: 'Gotham', Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #595959;
    background-color: transparent;
}


/*
 * Main content
 */

.box,
.table-box {
    padding: 20px;
    padding: 47px 37px 50px;
    border: none;
    border-radius: 3px;
    /* width: 20%; */
    background-color: #fff;
    box-shadow: 0 10px 30px 3px rgba(85, 85, 85, .08);
}

.content-wrap {
    height: 245px;
    margin-bottom: 10px;
}

.content-wrap p {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

h3.inner-topic {
    height: 65px;
    ext-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (max-width: 767px) {
    .content-wrap {
        height: auto;
    }
}

.table-box {
    padding: 0 !important;
}

.login .box {
    position: relative;
    overflow: hidden;
    width: auto;
    max-width: 574px;
    margin: 7% auto 0;
    padding: 47px 37px 50px;
    border: none;
    border-radius: 3px;
    background: #fff;
}

.main-content {
    margin-left: 250px;
    padding: 0 30px;
}

@media (min-width: 768px) {
    .box,
    .table-box {
        margin-bottom: 60px;
        padding: 35px;
    }
    .table-box {
        padding: 3px !important;
    }
}

@media (max-width: 768px) {
    .box,
    .table-box {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .main-content {
        width: 100%;
        margin-left: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .box,
    .table-box {
        width: 100%;
        margin: 0 auto;
    }
    .content-wrapper {
        padding-top: 50px;
    }
    .main-content {
        width: 100%;
        margin-left: 0;
    }
}

.box .page-header {
    margin-top: 0;
}


/* Placeholder dashboard ideas */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}


/* Table */

table {
    width: 100%;
    margin: 0;
    margin: 0 auto;
    padding: 0;
    table-layout: fixed;
    border-collapse: collapse;
    border: 0;
}

table caption {
    font-size: 20px;
    margin: 20px 0 10px;
}

table tr {
    padding: 5px;
    border: 1px solid #e6e6e6;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background: #fff;
}

table tbody tr:last-child {
    border-bottom: 0;
}

table th,
table td {
    font-family: 'Gotham', Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 15px;
    text-align: left;
    color: #444;
    word-wrap: break-word;
}

table th {
    font-family: Gotham;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    color: #444;
}

@media screen and (max-width: 500px) {
    table, .datatable {
        border: 0;
    }
    table caption, .datatable caption {
        font-size: 18px;
    }
    table thead, .datatable thead {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: none;
    }
    table tr, .datatable tr {
        display: block;
        margin-bottom: 5px;
        border-bottom: 3px solid #ddd;
    }
    table td, .datatable td {
        font-size: 10px;
        display: block;
        text-align: right;
        border-bottom: 1px solid #ddd;
    }
    table td:before, .datatable td:before {
        font-weight: bold;
        float: left;
        clear: both;
        content: attr(data-label);
        text-transform: uppercase;
        margin-right: 14px;
        margin-bottom: 26px;
    }
    table td:last-child, .datatable td:last-child {
        border-bottom: 0;
    }

}

@media only screen and (min-width: 501px) {
    table tr:first-child {
        border-bottom: 1px solid #e6e6e6;
    }
}



/* Notifications */

.notification-success,
.notification-error,
.notification-warning {
    font-family: 'Gotham', Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 20px 0;
    padding: 15px;
    color: #444;
    background-color: #fff;
    box-shadow: 0 10px 30px 3px rgba(85, 85, 85, .08);
}

.notification-success {
    border-left: 5px solid #1d9300;
}

.notification-error {
    border-left: 5px solid #ea0606;
}

.notification-warning {
    border-left: 5px solid #ffba01;
}


/* Definitive list */

dl {
    margin: 0;
    padding: 30px 30px 10px;
    text-transform: capitalize;
}

.password-dd {
    font-size: 20px !important;
    -webkit-text-security: disc !important;
}

dl:last-child {
    padding-bottom: 45px;
}

dt {
    font-family: 'Gotham', Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 14px;
    text-transform: capitalize;
    color: #444;
}

dd.email-dd {
    text-transform: lowercase !important;
}

dd {
    font-family: 'Gotham', Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 33px;
    text-transform: capitalize;
    color: #444;
}

@media (max-width: 768px) {
    dd {
        font-size: 20px;
    }
}

.horizontal-dl {
    display: grid;
    padding-right: 0;
    padding-left: 0;
    text-transform: capitalize;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
}

.horizontal-dl-2 {
    display: grid;
    padding-right: 0;
    padding-left: 0;
    text-transform: capitalize;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
}

.horizontal-dl dt,
.horizontal-dl-2 dt {
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    color: #444;
}

.horizontal-dl dd,
.horizontal-dl-2 dd {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-transform: capitalize;
    color: #444;
}

.horizontal-dl dt,
.horizontal-dl-2 dt {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
    padding: 15px 0 15px 0;
    padding-left: 30px;

    border-top: 1px solid #e6e6e6;
}

.horizontal-dl dt+dd,
.horizontal-dl-2 dt+dd {
    margin-bottom: 0;
    padding: 15px 5px 15px 0;
    padding-right: 30px;
    text-align: right;
    border-top: 1px solid #e6e6e6;
}

.horizontal-dl-2 dt+dd {
    text-align: left !important;
}

.horizontal-dl dt:first-child,
.horizontal-dl dt+dd:first-of-type,
.horizontal-dl-2 dt:first-child,
.horizontal-dl-2 dt+dd:first-of-type {
    padding-top: 0;
}

.horizontal-dl dt:first-child,
.horizontal-dl-2 dt:first-child {
    border: none;
}

.horizontal-dl dt+dd:first-of-type,
.horizontal-dl-2 dt+dd:first-of-type {
    border: none;
}

.horizontal-dl dt:last-of-type {
    border-bottom: 1px solid #e6e6e6;
    border-bottom: 0;
}

.horizontal-dl-2 dt:last-of-type,
.horizontal-dl-2 dt+dd:last-of-type {
    border-bottom: 1px solid #e6e6e6;
}

.horizontal-dl dt+dd:last-of-type {
    border-bottom: none;
}

.payment-badge {
    width: 100%;

    transform: translate(80%);
}

@media (max-width: 480px) {
    .horizontal-dl,
    .horizontal-dl-2 {
        display: grid;

        grid-template-rows: auto;
    }
    .payment-badge {
        width: 100%;

        transform: none;
    }
}


/* Forms */

.signup--box {
    margin: 65px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 13px 0 rgba(0, 0, 0, .08);
}

.signup--box h4 {
    font-family: 'Gotham', Helvetica, sans-serif;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
    text-transform: capitalize;
    color: #444;
}

.signup--box p {
    margin: 17px 0;
    text-align: center;
}

.form-group-default {
    position: relative;
    /*overflow: hidden;*/
    height: 100px;
    padding-top: 2px;
    padding-right: 12px;
    padding-bottom: 2px;
    padding-left: 12px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .01);
}

.form-group {
    margin: 25px 0;
}

.form-group-default label {
    font-family: 'Gotham', Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
    color: #444;
}

.form-group-default .form-control {
    width: 100%;
    height: 70px;
    min-height: 25px;
    padding: 6px 0 6px 0;
    border: none !important;
    background: none !important;
    box-shadow: none;
}

textarea.form-control {
    height: 200px !important;
}

.size {
    height: 250px !important;
}



.form-control {
    display: block;
}

.form-group {
    margin-bottom: 20px;
}

.form-group-default.textarea {
    height: 120px;
}

.form-group-default.textarea textarea {
    height: 85px;
}

.btn--fill, .buttons-csv {
    font-family: 'Gotham', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border: 1px solid #a0830b;
    border-radius: 5px;
    background-color: #a0830b;
    box-shadow: 0 3px 10px 3px rgba(160, 131, 11, .14);
}

.buttons-csv {
    margin: 10px 0px !important;
}

form a {
    text-decoration: underline;
}

span.help-block {
    position: absolute;
    color: #ea0606;
    padding: 4px;
    top: 0;
    font-weight: 300;
    font-size: 12px;
    right: 10px;
}

.form-group.has-error {
    border-color: #ea0606;
    margin-bottom: 35px;
}

.form-group.has-error .help-block {
    color: #ea0606;
    font-size: 12px;
}


/* 404 Error page */

body.error-page {
    background: #fff;
}

.nav-404 {
    display: flex;
    height: 100%;
    padding-top: 30px;
    padding-right: 1rem;
    padding-left: 1rem;
    -webkit-box-pack: justify;
    justify-content: space-between;
    justify-content: center;
}

.box-404 {
    margin: 80px 400px;
}

@media (max-width: 991px) {
    .box-404 {
        margin: 80px 0;
    }
}


/* Chat */

.chat-col,
.support-chat-col {
    padding: 20px 30px;
    border-bottom: 1px solid #dfe2e5;
}

.support-chat-col {
    background: #a0830b0a;
}

.customer-chat-info,
.support-chat-info {
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    display: inline-block;
}

.chat-col,
.support-chat-col {
    margin-left: -35px;
    margin-right: -35px
}

.customer,
.support,
.date-time {
    font-weight: 700;
    text-transform: capitalize;
    color: #757575;
}

.date-time {
    font-weight: 400;
}

.chat-content {
    font-size: 14px;
    font-weight: 400;
    color: #444;
}

.btn-base {
    display: flex;
}

@media (min-width: 767px) {
    .btn-base {
        display: flex;
    }
}



/* Accordion */

.panel-group .panel {
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow: 0 10px 30px 3px rgba(85, 85, 85, .08);
}

.panel-default {
    border-color: #fff;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #fff;
}

.panel-default>.panel-heading {
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333;
    border-color: #fff;
    background-color: #fff;
}

.panel-default>.panel-heading a {
    font-family: 'Gotham', sans-serif !important;
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;
    display: block;
    padding: 20px 30px;
    text-decoration: none;
    color: #444;
    border: none;
    border-radius: 3px;
    background-color: #fff !important;
}

.panel-default>.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    position: relative;
    top: 1px;
    display: inline-block;
    float: right;
    content: '';
    -webkit-transition: -webkit-transform .25s linear;
    transition: transform .25s linear;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.panel-default>.panel-heading a[aria-expanded='true'] {
    background-color: #eee;
}

.panel-default>.panel-heading a[aria-expanded='true']:after {
    content: '\2212';
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded='false']:after {
    content: '\002b';
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.panel-collapse .panel-body {
    font-family: 'Gotham', sans-serif !important;
    font-size: 15px;
    line-height: 23px;
    padding: 10px 30px 20px;
    border: none;
    border-radius: 3px;
    background: #fff;
}

.accordion-option {
    float: left;
    clear: both;
    width: 100%;
    margin: 15px 0;
}

.accordion-option .title {
    font-size: 20px;
    font-weight: bold;
    float: left;
    margin: 0;
    padding: 0;
}

.accordion-option .toggle-accordion {
    font-size: 16px;
    float: right;
    color: #6a6c6f;
}

.accordion-option .toggle-accordion:before {
    content: 'Expand All';
}

.accordion-option .toggle-accordion.active:before {
    content: 'Collapse All';
}



/* WYSIWYG */

.ck-editor__editable.ck-rounded-corners,
.ck-rounded-corners .ck-editor__editable {
    height: 200px;
    border-radius: 2px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.ck-editor {
    margin-bottom: 100px !important;
}




/* Radio buttons */

.radio input[type='radio'],
.radio-inline input[type='radio'],
.checkbox input[type='checkbox'],
.checkbox-inline input[type='checkbox'] {
    position: absolute;
    margin-top: 4px \9;
    margin-left: 0 !important;
}

.radio:last-child {
    margin-bottom: 40px;
}

span.text-link {
    font-weight: 500;
    color: #a0830b;
    text-decoration-color: #a0830b !important;
}

.caret {
    margin-left: 25px !important;
}


/* CHART CANVAS */

canvas {
    height: 335px!important;
}


/* Pills */

.pill-success {
    padding: 5px;
    color: #fff;
    background: #1D9300;
    border-radius: 3px;
    font-weight: 500;
}

.pill-warning {
    padding: 5px;
    color: #fff;
    background: #ffc107;
    border-radius: 3px;
    font-weight: 500;
}

.pill-error {
    padding: 5px;
    color: #fff;
    background: #EA0606;
    border-radius: 3px;
    font-weight: 500;
}


/* Search */

div#search label {
    display: inline-block;
    margin-bottom: 0rem;
}

.search-wrapper input {
    margin-left: 0;
    box-shadow: none !important;
    border: none;
    border-radius: 3px;
    color: #444;
    padding: 10px 30px;
    float: right;
    background-color: #fff;
    width: 85%;
}

div#search {
    position: absolute;
    right: 0;
    top: 52px;
    margin-right: 30px;
}
