    /**
 * Media Query
 **/
    
    @media only screen and (max-width: 1024px) {
        html.no-touch section#section--people .person--profile--container:hover .person--textbox {
            opacity: 1;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            z-index: 20;
        }
        html.no-touch section#section--people .person--profile--container:hover .person--textbox--text {
            opacity: 1;
        }
        html.no-touch section#section--people .person--profile--container:hover .person--textbox--text.name--title {
            padding-top: 10px;
        }
        .header--globe {
            background-image: url(../img/header-globe.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 50%;
            height: 500px;
            top: 9rem;
            left: 50%;
            position: absolute;
        }
        .pulse-1 {
            position: absolute;
            left: 83%;
            top: 35%;
        }
        .pulse-3 {
            position: absolute;
            left: 81%;
            top: 44%;
        }
        .pulse-2 {
            position: absolute;
            left: 90%;
            top: 28%;
        }
        .pulse-4 {
            position: absolute;
            left: 97%;
            top: 40%;
        }
        .section--goldtint--color .white--card p.vl--b,
        .section--goldtint--color .white--card p.vl--p {
            position: relative;
            top: -5%;
        }
        .input--email--bg {
            background: #fff;
            box-shadow: 0 3px 12px 2px rgba(255, 255, 255, 0.14);
            border-radius: 5px;
            width: 100%;
        }
    }
    
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
        .header--globe {
            background-image: url(../img/header-globe.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 50%;
            height: 500px;
            top: 9rem;
            left: 50%;
            position: absolute;
        }
    }
    
    @media only screen and (max-width: 320px) {
        .person--textbox {
            height: 80%;
            width: 100%;
            display: block;
        }
        html.no-touch section#section--people .person--profile--container:hover .person--textbox {
            opacity: 1;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(0.95);
            z-index: 20;
            width: 80%;
            margin: 0 auto;
        }
        .header--globe {
            display: block;
            background-image: url(../img/header-globe-mobile.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 100%;
            height: 500px;
            top: 16.4rem !important;
            left: 0;
            position: absolute;
        }
    }
    
    @media only screen and (max-width: 767px) {
        /* Fonts */
        h2 {
            font-size: 28px;
            line-height: 40px;
        }
        h3 {
            font-size: 27px;
            line-height: 39px;
        }
        p {
            font-size: 16px!important;
            line-height: 28px!important;
        }
        /* Header */
        .header--logo {
            height: 60px;
        }
        .nav--menu {
            display: none;
        }
        /* General */
        .container {
            width: auto!important;
            margin-right: 0!important;
            margin-left: 0!important;
        }
        .row {
            margin-right: 0;
            margin-left: 0;
        }
        .header--content {
            top: 20%;
            padding-right: 0;
            transform: translateY(20%);
            padding-left: 1rem;
            text-align: center;
        }
        .header--globe {
            display: block;
            background-image: url(../img/header-globe-mobile.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 100%;
            height: 500px;
            top: 13.9rem;
            left: 0;
            position: absolute;
        }
        .pulse {
            display: none;
        }
        .header--content p {
            margin: 0 0 40px;
        }
        .header--banner {
            height: 36.4rem;
        }
        /* .header--globe {
            display: none;
        } */
        .btn--lg {
            left: 0;
        }
        .white--card p {
            margin: 30px 0 0px;
            padding: 0 20px 0 20px;
            text-align: center;
        }
        .green--card,
        .red--card,
        .black--card {
            width: 80%;
            margin: 0 auto;
        }
        #section--returns .white--card h1 {
            font-size: 150px;
        }
        #section--gold--bg .white--card h1 {
            font-size: 130px;
            margin-top: 75px;
            margin-bottom: 45px;
        }
        #section--returns .white--card ul {
            padding-left: 0px;
            margin-top: -15px;
            text-align: center;
            list-style: none;
        }
        #section--grey--bg h3,
        #section--grey--bg p {
            text-align: center;
        }
        img.pool--logo {
            position: relative;
            top: 14px;
            left: 0;
            width: 45%;
        }
        .section--goldtint--color .white--card p.vl--b,
        .section--goldtint--color .white--card p.vl--p {
            margin-top: 30px;
        }
        .section--goldtint--color .white--card {
            padding: 10px 10px 60px 10px;
            border-bottom: 1px solid #e6e6e6;
        }
        .section--goldtint--color .white--card p {
            padding: 0 20px;
            text-align: center;
            position: relative;
            top: 0%;
            margin-top: 30px;
        }
        .btn--green,
        .btn--red,
        .btn--black,
        .btn--purple,
        .btn--grey {
            position: relative;
            top: 80%;
            margin-right: 0px;
        }
        .btn--blue {
            position: relative;
            top: 60%;
            margin-right: 0px;
        }
        #section--returns .white--card p {
            font-size: 24px !important;
        }
        #section--returns .white--card h4 {
            margin-top: 20px;
            text-align: center;
            font-size: 20px;
            line-height: 27px;
        }
        #section--gold--bg .white--card h4 {
            font-size: 20px;
            line-height: 32px;
            margin-bottom: 15px;
        }
        #section--gold--bg .white--card ul {
            margin-left: 0;
            padding-left: 20px;
        }
        #section--gold--bg .white--card .col-md-6 {
            padding-top: 0;
        }
        #section--gold--bg .white--card li {
            font-size: 18px;
            line-height: 32px;
        }
        #section--gold--bg .white--card .col-md-6:first-child ul {
            margin-bottom: 0;
        }
        #section--gold--bg .white--card .col-md-6:last-child ul {
            margin-top: 0;
        }
        #section--gold--bg .white--card .col-md-6:last-child {
            padding-bottom: 10px;
        }
        #section--gold--bg h3 {
            margin: 50px 0 30px;
        }
        .green--card h1,
        .black--card h1,
        .red--card h1 {
            margin-top: 5px;
        }
        .green--card h1,
        .black--card h1,
        .red--card h1 {
            font-size: 62px;
            margin-top: 5px;
        }
        #section--grey--bg,
        #section--people,
        .section--goldtint--color {
            padding-top: 20px;
        }
        #section--gold--bg {
            padding-bottom: 0;
        }
        section#section--grey--bg img {
            margin-top: 20px;
        }
        section#section--gold--bg .white--card p {
            margin: 45px 0 5px;
        }
        .section--title {
            margin-bottom: 35px;
        }
        #section--gold {
            padding: 30px 10px 50px;
        }
        /* Our people */
        .person--img--name {
            color: #fff;
            font-family: "Gotham", Helvetica, sans-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.2;
            position: absolute;
            bottom: 16px;
            z-index: 1;
            left: 0px;
        }
        .lng--text {
            transform: translate(20%);
        }
        .shrt--text {
            transform: translate(35%);
        }
        .person--textbox--text.text--body {
            font-size: 12px !important;
            line-height: 1.69 !important;
            margin-top: 0px;
            text-align: center;
            margin-right: 40px;
            padding: 0px 10px 0px 0px;
        }
        .person--img {
            margin-bottom: 30px;
        }
        html.no-touch section#section--people .person--profile--container:hover .person--textbox {
            opacity: 1;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            z-index: 20;
            width: 80%;
            margin: 0 auto;
        }
        input.email {
            width: 80%;
            margin-left: 0px;
        }
        input.cta--btn {
            width: 100% !important;
        }
        .input--email--bg {
            background: #fff;
            box-shadow: none;
            height: 58%;
            width: 100%;
        }
        img.close--btn {
            display: block;
        }
        footer.footer--black--color h6 {
            margin-bottom: 15px;
            font-size: 16px;
        }
        footer.footer--black--color {
            padding-right: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
        }
        .footer--copy .text--right {
            text-align: left;
            margin-top: 20px;
        }
        ul.list a {
            font-size: 16px;
        }
    }
    
    @media only screen and (max-width: 991px) {
        .nav--menu {
            display: none
        }
        .landing.nav--container {
            display: none;
        }
        .signup--page .nav--container {
            display: block;
        }
        .nav--links {
            font-family: "Gotham", Helvetica, sans-serif;
            display: inline-block;
            color: #000;
            line-height: 21px;
            margin-left: 10px;
            padding-bottom: 7px;
            padding-top: 7px;
            text-transform: capitalize;
        }
        header.mobile--nav {
            width: 100%;
            background: #ffffff;
            height: 92px;
            line-height: 60px;
            border-bottom: 1px solid #dddddd;
        }
        /* .hamburger {
            background: none;
            position: absolute;
            top: 10px;
            right: 0;
            line-height: 45px;
            padding: 1rem 2rem;
            color: #999;
            border: 0;
            font-size: 1.4em;
            font-weight: bold;
            cursor: pointer;
            outline: none;
            z-index: 10000000000000;
        } */
        .hamburger {
            background: #000;
            position: absolute;
            width: 30px;
            height: 2px;
            display: inline-block;
            transform: translateY(35px);
            transition: background .2s ease-out;
        }
        .hamburger:before {
            transition: transform .3s, bottom .2s ease-out .4s;
            content: "";
            position: absolute;
            left: 0px;
            bottom: 6px;
            background-color: #000;
            width: 30px;
            height: 2px;
        }
        .hamburger:after {
            transition: transform .3s, top .2s ease-out .4s;
            content: "";
            position: absolute;
            left: 0px;
            top: 6px;
            background-color: #000;
            width: 30px;
            height: 2px;
        }
        .hamburger-wrapper .hamburger {
            position: absolute;
            top: 0px;
            right: 0px;
            margin: 0.5rem 2rem;
        }
        /* .cross {
            background: none;
            position: absolute;
            top: 10px;
            right: 0;
            padding: 1rem 2rem;
            color: #999;
            border: 0;
            font-size: 4em;
            line-height: 65px;
            font-weight: bold;
            cursor: pointer;
            outline: none;
            z-index: 10000000000000;
        } */
        span.cross:before {
            bottom: 0;
            background: #000;
            transform: rotate(-45deg);
            transition: transform .3s, top .2s ease-out .4s;
            content: "";
            position: absolute;
            left: 29px;
            top: 0px;
            width: 30px;
            height: 2px;
        }
        span.cross:after {
            background: #000;
            transform: rotate(45deg);
            transition: transform .3s, bottom .2s ease-out .4s;
            content: "";
            position: absolute;
            left: 30px;
            bottom: 0px;
            background-color: black;
            width: 30px;
            height: 2px;
        }
        span.cross {
            width: 10px;
            height: 2px;
            transform: translateY(20px);
            transition: background .2s ease-out;
        }
        .cross-wrapper .cross {
            position: absolute;
            position: absolute;
            top: 25px;
            right: 80px;
        }
        .menu--container {
            display: none;
            z-index: 1000000;
            font-weight: bold;
            font-size: 0.8em;
            width: 100%;
            height: 65%;
            background: #f1f1f1;
            position: absolute;
            text-align: center;
            font-size: 12px;
        }
        .menu--container ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            list-style-image: none;
            height: 50vh;
        }
        .menu--container li {
            display: block;
            padding: 15px 0 15px 0;
            border-bottom: #dddddd 1px solid;
        }
        .menu--container li:hover {
            display: block;
            background: #ffffff;
            padding: 15px 0 15px 0;
            border-bottom: #dddddd 1px solid;
        }
        .menu--container ul li a {
            text-decoration: none;
            margin: 0px;
            color: #666;
        }
        .menu--container a:hover {
            text-decoration: none;
            color: #666;
        }
        .glyphicon-home {
            color: white;
            font-size: 1.5em;
            margin-top: 5px;
            margin: 0 auto;
        }
        header.mobile--nav {
            display: inline-block;
            font-size: 12px;
        }
        .landing.header--logo {
            width: auto;
            height: 60px;
            padding: 1rem 2rem;
        }
        .signup--page .header--logo {
            width: auto;
            height: 60px;
            padding: 1rem 2rem;
            display: block;
            margin: 0 auto;
        }
        .pulse {
            display: none;
        }
    }
    
    @media only screen and (min-width: 992px) {
        .mobile--nav--menu,
        header.mobile--nav {
            display: none
        }
        .section--goldtint--color .white--card {
            height: 125px;
        }
        /* .section--goldtint--color .btn--lg {
            height: 160px;
        } */
        img.close--btn {
            display: none;
        }
    }
    
    @media only screen and (min-width: 768px) and (max-width:991px) {
        /* Fonts */
        h2 {
            font-size: 54px;
            line-height: 66px;
        }
        h3 {
            font-size: 46px;
            line-height: 58px;
        }
        p {
            font-size: 18px!important;
            line-height: 32px!important;
        }
        .white--card p {
            margin: 60px 0px;
            padding: 0px 70px 0px 50px;
            text-align: center;
        }
        .btn--lg {
            left: 0;
        }
        .person--img--name {
            font-size: 16px;
        }
        .person--textbox--text.text--body {
            font-size: 10px !important;
            line-height: 1.69 !important;
            margin-top: 70px;
        }
        input.email {
            width: 80%;
            margin-left: 0px;
        }
        input.cta--btn {
            width: 100% !important;
        }
        .input--email--bg {
            background: #fff;
            box-shadow: 0 3px 12px 2px rgba(255, 255, 255, 0.14);
            border-radius: 5px;
            height: 58%;
            width: 100%;
        }
        .person--textbox--text.text--body {
            font-size: 10px !important;
            line-height: 1.69 !important;
            padding: 0px 28px 0px 0px;
            margin-top: 0px;
            margin-right: 0px;
            position: absolute;
            top: 8px;
        }
        #section--returns .white--card ul {
            padding-left: 25px;
            margin-left: 94px;
            margin-bottom: 40px;
        }
        .container {
            width: auto!important;
            margin-right: 0!important;
            margin-left: 0!important;
        }
        .row {
            margin-right: 0;
            margin-left: 0;
        }
        .header--content {
            top: 60%;
            padding-right: 300px;
            transform: translateY(50%);
            padding-left: 1rem;
        }
        .section--goldtint--color .white--card p {
            padding: 0px 30px 0px 50px;
            text-align: center;
            position: relative;
            top: 0;
            margin: 40px 0px;
        }
        .section--goldtint--color .white--card p.vl--b,
        .section--goldtint--color .white--card p.vl--p {
            position: relative;
            top: 0;
        }
        .btn--green,
        .btn--red,
        .btn--blue,
        .btn--black,
        .btn--purple,
        .btn--grey {
            margin-right: 0px;
            position: relative;
            top: -20px;
        }
        #section--returns .white--card h4 {
            text-align: center;
        }
        #section--returns .white--card ul {
            padding-left: 25px;
            margin-left: 120px;
            margin-bottom: 40px;
        }
        span.type--fine-print {
            font-size: 12px;
        }
        #section--gold .section--title {
            margin-bottom: 0px;
            margin-top: 0px;
        }
        html.no-touch section#section--people .person--profile--container:hover .person--textbox {
            opacity: 1;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            z-index: 20;
            width: 80%;
            margin: 0 auto;
        }
        img.close--btn {
            position: absolute;
            right: 10px;
            top: 10px;
            padding: 5px;
        }
        .person--textbox--text.text--body {
            font-size: 10px !important;
            line-height: 1.69 !important;
            padding: 0px 28px 0px 0px;
            margin-top: 0px;
            margin-right: 0px;
            position: absolute;
            top: 25px;
            left: 30px;
            text-align: center;
        }
        #section--returns .white--card ul {
            padding-left: 25px;
            margin-top: -40px;
        }
    }