    /**
 * Media Query
 **/

@media only screen and (min-width: 1300px) and (max-width: 1399px)
{
    .card-pool-right
    {
        width: 72%;
        padding-right: 0;
    }

    .card-pool-left
    {
        width: 28%;
        padding-left: 0;
    }
    /* Fonts */
    h1
    {
        font-size: 30px!important;
        line-height: 42px!important;
    }


    h2
    {
        font-size: 26px!important;
        line-height: 38px!important;
    }

    h3
    {
        font-size: 24px!important;
        line-height: 36px!important;
    }

    h4
    {
        font-size: 20px!important;
        line-height: 32px!important;
    }

    h5
    {
        font-size: 14px!important;
        line-height: 26px!important;
    }

    h6
    {
        font-size: 13px!important;
        line-height: 25px!important;
    }

    p
    {
        font-size: 16px!important;
        line-height: 28px!important;
    }

    span.green-text h3,
    span.black-text h3,
    span.red-text h3
    {
        text-align: center;
    }

    .greenpool-slot,
    .blackpool-slot,
    .redpool-slot
    {
        width: 100%;
    }

    a.col-xs-9
    {
        font-size: 12px;

        width: 137px;
    }

    button.btn
    {
        font-size: 12px;

        padding: 10px 32px;
    }
    button.btn-stroke-gold
    {
        padding: 10px 20px;
    }

    .card-title,
    .inner-topic
    {
        font-size: 18px;
    }

    .btn-gold.renew
    {
        font-size: 15px;

        padding: 10px 35px;
    }
}

@media only screen and (max-width: 1024px)
{
    /* Fonts */
    h1
    {
        font-size: 30px!important;
        line-height: 42px!important;
    }


    h2
    {
        font-size: 26px!important;
        line-height: 38px!important;
    }

    h3
    {
        font-size: 22px!important;
        line-height: 34px!important;
    }

    h4
    {
        font-size: 18px!important;
        line-height: 30px!important;
    }

    h5
    {
        font-size: 14px!important;
        line-height: 26px!important;
    }

    h6
    {
        font-size: 13px!important;
        line-height: 25px!important;
    }

    p
    {
        font-size: 15px!important;
        line-height: 27px!important;
    }

    .box,
    .table-box
    {
        margin-bottom: 30px;
        padding: 20px;
    }

    .navbar-right
    {
        float: none !important;
    }

    .navbar-nav > li
    {
        width: 100%;
    }

    a.btn-gold.renew
    {
        position: relative;
        bottom: 10px;
    }

    .chat-col,
    .support-chat-col
    {
        margin-right: -20px;;
        margin-left: -20px;
    }

    table.table-pool th,
    table.table-pool td
    {
        padding: 12px 20px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1299px)
{
    h1
    {
        font-size: 30px!important;
        line-height: 42px!important;
    }


    h2
    {
        font-size: 26px!important;
        line-height: 38px!important;
    }

    h3
    {
        font-size: 22px!important;
        line-height: 34px!important;
    }

    h4
    {
        font-size: 18px!important;
        line-height: 30px!important;
    }

    h5
    {
        font-size: 14px!important;
        line-height: 26px!important;
    }

    h6
    {
        font-size: 13px!important;
        line-height: 25px!important;
    }

    p
    {
        font-size: 15px!important;
        line-height: 27px!important;
    }


    .card-pool-left
    {
        padding-left: 0;
    }
    .card-pool-right
    {
        padding-right: 0;
    }
    a.col-xs-9
    {
        font-size: 10px;

        width: 125px;
    }
    .greenpool-slot,
    .blackpool-slot,
    .redpool-slot
    {
        width: 100%;
        padding: 10px 2px;
    }

    .horizontal-dl dt,
    .horizontal-dl-2 dt
    {
        padding-left: 15px;
    }
    .horizontal-dl dt + dd,
    .horizontal-dl-2 dt + dd
    {
        padding-right: 15px;
    }
    #account .col-md-12
    {
        padding: 0;
    }
    button.btn
    {
        font-size: 12px;

        padding: 10px 32px;
    }
    button.btn-stroke-gold
    {
        padding: 10px 20px;
    }

    .main-content
    {
        margin-left: 230px;
        padding: 0 18px;
    }

    .sidebar-logo.col-md-6
    {
        margin: 30px 60px 30px;
    }

    .sidebar
    {
        width: 230px;
    }

    .nav-sidebar > li > a
    {
        padding: 14px 30px;
    }

    .btn-gold.renew
    {
        font-size: 13px;

        padding: 10px 30px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1299px)
{
    .card-pool-right
    {
        width: 72%;
        padding-right: 0;
    }

    .card-pool-left
    {
        width: 28%;
        padding-left: 0;
    }
}



@media only screen and (min-width: 1025px) and (max-width: 1199px)
{
    a.col-xs-9
    {
        font-size: 8px;

        width: 112px;
    }

    .table-box .btn
    {
        font-size: 13px;

        width: 105px;
        padding: 10px;
    }
}

@media (max-width: 991px)
{
    .box,
    .table-box
    {
        margin-bottom: 30px;
        padding: 20px;
    }

    .greenpool-slot,
    .blackpool-slot,
    .redpool-slot
    {
        width: 100%;
    }

    .parent-card-pool
    {
        display: block;

        padding-right: 0;
    }

    .card-title-pool
    {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .card-title-pool:nth-child(3) {
    width: 100% !important;
}
}

@media only screen and (max-width: 767px)
{
    /* Fonts */
    h1
    {
        font-size: 26px!important;
        line-height: 38px!important;
    }


    h2
    {
        font-size: 22px!important;
        line-height: 34px!important;
    }

    h3
    {
        font-size: 20px!important;
        line-height: 32px!important;
    }

    h4
    {
        font-size: 18px!important;
        line-height: 30px!important;
    }

    h5
    {
        font-size: 14px!important;
        line-height: 26px!important;
    }

    h6
    {
        font-size: 13px!important;
        line-height: 25px!important;
    }

    p
    {
        font-size: 16px!important;
        line-height: 28px!important;
    }

    table td
    {
        font-size: 12.5px;
    }
    .greenpool-slot,
    .blackpool-slot,
    .redpool-slot
    {
        width: 100%;
    }
    .greenpool-slot,
    .blackpool-slot,
    .redpool-slot
    {
        padding: 4px;
    }
    span.green-text h3,
    span.black-text h3,
    span.red-text h3
    {
        text-align: center;
    }
    main
    {
        margin-top: 30px;
    }

    /* Main */
    .main-content
    {
        padding: 0 7px;
    }

    /* Header */
    .header--logo
    {
        height: 60px;
    }

    .btn
    {
        font-size: 14px;

        padding-right: 30px;
        padding-left: 30px;
    }

    /* Boxes */
    .box,
    .table-box
    {
        overflow: hidden;

        padding: 15px;
    }

    .btn-stroke-green,
    .btn-stroke-black,
    .btn-stroke-red
    {
        margin-top: 15px;
    }

    a.col-xs-9
    {
        width: 121px;
    }

    .horizontal-dl dt,
    .horizontal-dl-2 dt
    {
        font-size: 13px;

        padding-right: 10px;
    }
    .horizontal-dl-2
    {
        grid-template-columns: 1.5fr 2fr;
    }

    canvas
    {
        height: 355px!important;
    }

    .chat-col,
    .support-chat-col
    {
        margin-right: -15px;;
        margin-left: -15px;
    }

    .ck-editor
    {
        margin-bottom: 30px !important;
    }

    body.home .main-content
    {
        padding: 0 20px 0 18px;
    }

    .payment-badge
    {
        display: block;

        width: 78%;
        margin: 0 auto;

        transform: none;
    }

    div#search_filter
    {
        float: left !important;

        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media (max-width: 479px)
{
    canvas
    {
        height: auto!important;
    }
}

@media (max-width: 340px)
{
    .pull-right
    {
        float: left!important;
        clear: both;

        margin-bottom: 25px;
    }
    .card-title,
    .inner-topic
    {
        width: 100%;;
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 501px) and (max-width: 767px)
{
    .table-box .btn
    {
        font-size: 10px;

        width: 100px;
        padding: 10px;
    }
    table.table-pool .btn
    {
        font-size: 12px;

        width: 60px;
    }
}

@media only screen and (max-width: 500px)
{
    table button.btn
    {
        margin-right: 0!important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px)
{
    main
    {
        margin-top: 50px;
    }

    a.col-xs-9
    {
        font-size: 14px;

        width: 150px;
    }

    span.green-text h3,
    span.black-text h3,
    span.red-text h3
    {
        text-align: center;
    }

    #account .form-group
    {
        float: left;

        width: 48.3%;
    }
    #account .col-md-12:nth-child(even) .form-group
    {
        margin-right: 20px!important;
    }

    .table-box .btn
    {
        font-size: 13px;

        width: 105px;
        padding: 10px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1024px)
{
    main
    {
        margin-top: 50px;
    }

    .greenpool-slot,
    .blackpool-slot,
    .redpool-slot
    {
        width: 100%;
    }

    span.green-text h3,
    span.black-text h3,
    span.red-text h3
    {
        text-align: center;
    }

    a.col-xs-9
    {
        font-size: 13px;

        width: 143px;
        margin-top: 0;
    }

    button.btn
    {
        font-size: 12px;

        padding: 10px 32px;
    }
    button.btn-stroke-gold
    {
        padding: 10px 20px;
    }

    .table-box .btn
    {
        font-size: 13px;

        width: 105px;
        padding: 10px;
    }
}