/* Font */

@font-face {
    font-family: 'Gotham';
    src: url("../font/Gotham-Book.otf") format("opentype");
}

@font-face {
    font-family: 'Gotham';
    font-weight: 400;
    src: url("../font/Gotham-Book.otf") format("opentype");
}

@font-face {
    font-family: 'Gotham';
    font-weight: 500;
    src: url("../font/Gotham-Medium.otf") format("opentype");
}


/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */


/* Document
   ========================================================================== */


/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
    line-height: 1.15;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}


/* Sections
   ========================================================================== */


/**
 * Remove the margin in all browsers (opinionated).
 */

body {
    margin: 0;
}


/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
    display: block;
}


/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}


/* Grouping content
   ========================================================================== */


/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main {
    /* 1 */
    display: block;
}


/**
 * Add the correct margin in IE 8.
 */

figure {
    margin: 1em 40px;
}


/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}


/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}


/* Text-level semantics
   ========================================================================== */


/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
    background-color: transparent;
    /* 1 */
    -webkit-text-decoration-skip: objects;
    /* 2 */
}


/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}


/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
    font-weight: inherit;
}


/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: 500;
}


/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}


/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
    font-style: italic;
}


/**
 * Add the correct background and color in IE 9-.
 */

mark {
    background-color: #ff0;
    color: #000;
}


/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}


/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}


/* Embedded content
   ========================================================================== */


/**
 * Add the correct display in IE 9-.
 */

audio,
video {
    display: inline-block;
}


/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}


/**
 * Remove the border on images inside links in IE 10-.
 */

img {
    border-style: none;
}


/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
    overflow: hidden;
}


/* Forms
   ========================================================================== */


/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}


/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
    /* 1 */
    overflow: visible;
}


/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
    /* 1 */
    text-transform: none;
}


/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"],

/* 1 */

[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
}


/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}


/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}


/**
 * Correct the padding in Firefox.
 */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}


/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}


/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
}


/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
    overflow: auto;
}


/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}


/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}


/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}


/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}


/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}


/* Interactive
   ========================================================================== */


/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details,

/* 1 */

menu {
    display: block;
}


/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}


/* Scripting
   ========================================================================== */


/**
 * Add the correct display in IE 9-.
 */

canvas {
    display: inline-block;
}


/**
 * Add the correct display in IE.
 */

template {
    display: none;
}


/* Hidden
   ========================================================================== */


/**
 * Add the correct display in IE 10-.
 */

[hidden] {
    display: none;
}


/* FLEXBOX */


/* Uncomment and set these variables to customize the grid. */

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
}

.row {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex: 0 1 auto;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
}

.row.reverse {
    -ms-flex-direction: row-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
}

.col.reverse {
    -ms-flex-direction: column-reverse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.col-xs {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
}

.col-xs-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
}

.col-xs-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
}

.col-xs-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
}

.col-xs-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
}

.col-xs-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
}

.col-xs-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
}

.col-xs-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
}

.col-xs-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
}

.col-xs-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
}

.col-xs-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
}

.col-xs-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
}

.col-xs-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
}

.col-xs-offset-1 {
    margin-left: 8.333%;
}

.col-xs-offset-2 {
    margin-left: 16.667%;
}

.col-xs-offset-3 {
    margin-left: 25%;
}

.col-xs-offset-4 {
    margin-left: 33.333%;
}

.col-xs-offset-5 {
    margin-left: 41.667%;
}

.col-xs-offset-6 {
    margin-left: 50%;
}

.col-xs-offset-7 {
    margin-left: 58.333%;
}

.col-xs-offset-8 {
    margin-left: 66.667%;
}

.col-xs-offset-9 {
    margin-left: 75%;
}

.col-xs-offset-10 {
    margin-left: 83.333%;
}

.col-xs-offset-11 {
    margin-left: 91.667%;
}

.start-xs {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
}

.center-xs {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
}

.end-xs {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
}

.top-xs {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
}

.middle-xs {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}

.bottom-xs {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
}

.around-xs {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.between-xs {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.first-xs {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
}

.last-xs {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
}

@media only screen and (min-width: 48em) {
    .container {
        width: 46rem;
    }
    .col-sm,
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        box-sizing: border-box;
        -ms-flex: 0 0 auto;
        -webkit-box-flex: 0;
        flex: 0 0 auto;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .col-sm {
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        -webkit-box-flex: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%;
    }
    .col-sm-1 {
        -ms-flex-preferred-size: 8.333%;
        flex-basis: 8.333%;
        max-width: 8.333%;
    }
    .col-sm-2 {
        -ms-flex-preferred-size: 16.667%;
        flex-basis: 16.667%;
        max-width: 16.667%;
    }
    .col-sm-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%;
    }
    .col-sm-4 {
        -ms-flex-preferred-size: 33.333%;
        flex-basis: 33.333%;
        max-width: 33.333%;
    }
    .col-sm-5 {
        -ms-flex-preferred-size: 41.667%;
        flex-basis: 41.667%;
        max-width: 41.667%;
    }
    .col-sm-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
    }
    .col-sm-7 {
        -ms-flex-preferred-size: 58.333%;
        flex-basis: 58.333%;
        max-width: 58.333%;
    }
    .col-sm-8 {
        -ms-flex-preferred-size: 66.667%;
        flex-basis: 66.667%;
        max-width: 66.667%;
    }
    .col-sm-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%;
    }
    .col-sm-10 {
        -ms-flex-preferred-size: 83.333%;
        flex-basis: 83.333%;
        max-width: 83.333%;
    }
    .col-sm-11 {
        -ms-flex-preferred-size: 91.667%;
        flex-basis: 91.667%;
        max-width: 91.667%;
    }
    .col-sm-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }
    .col-sm-offset-1 {
        margin-left: 8.333%;
    }
    .col-sm-offset-2 {
        margin-left: 16.667%;
    }
    .col-sm-offset-3 {
        margin-left: 25%;
    }
    .col-sm-offset-4 {
        margin-left: 33.333%;
    }
    .col-sm-offset-5 {
        margin-left: 41.667%;
    }
    .col-sm-offset-6 {
        margin-left: 50%;
    }
    .col-sm-offset-7 {
        margin-left: 58.333%;
    }
    .col-sm-offset-8 {
        margin-left: 66.667%;
    }
    .col-sm-offset-9 {
        margin-left: 75%;
    }
    .col-sm-offset-10 {
        margin-left: 83.333%;
    }
    .col-sm-offset-11 {
        margin-left: 91.667%;
    }
    .start-sm {
        -ms-flex-pack: start;
        -webkit-box-pack: start;
        justify-content: flex-start;
        text-align: start;
    }
    .center-sm {
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
        text-align: center;
    }
    .end-sm {
        -ms-flex-pack: end;
        -webkit-box-pack: end;
        justify-content: flex-end;
        text-align: end;
    }
    .top-sm {
        -ms-flex-align: start;
        -webkit-box-align: start;
        align-items: flex-start;
    }
    .middle-sm {
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
    }
    .bottom-sm {
        -ms-flex-align: end;
        -webkit-box-align: end;
        align-items: flex-end;
    }
    .around-sm {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .between-sm {
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
    .first-sm {
        -ms-flex-order: -1;
        -webkit-box-ordinal-group: 0;
        order: -1;
    }
    .last-sm {
        -ms-flex-order: 1;
        -webkit-box-ordinal-group: 2;
        order: 1;
    }
}

@media only screen and (min-width: 62em) {
    .container {
        width: 61rem;
    }
    .col-md,
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        box-sizing: border-box;
        -ms-flex: 0 0 auto;
        -webkit-box-flex: 0;
        flex: 0 0 auto;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .col-md {
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        -webkit-box-flex: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%;
    }
    .col-md-1 {
        -ms-flex-preferred-size: 8.333%;
        flex-basis: 8.333%;
        max-width: 8.333%;
    }
    .col-md-2 {
        -ms-flex-preferred-size: 16.667%;
        flex-basis: 16.667%;
        max-width: 16.667%;
    }
    .col-md-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%;
    }
    .col-md-4 {
        -ms-flex-preferred-size: 33.333%;
        flex-basis: 33.333%;
        max-width: 33.333%;
    }
    .col-md-5 {
        -ms-flex-preferred-size: 41.667%;
        flex-basis: 41.667%;
        max-width: 41.667%;
    }
    .col-md-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
    }
    .col-md-7 {
        -ms-flex-preferred-size: 58.333%;
        flex-basis: 58.333%;
        max-width: 58.333%;
    }
    .col-md-8 {
        -ms-flex-preferred-size: 66.667%;
        flex-basis: 66.667%;
        max-width: 66.667%;
    }
    .col-md-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%;
    }
    .col-md-10 {
        -ms-flex-preferred-size: 83.333%;
        flex-basis: 83.333%;
        max-width: 83.333%;
    }
    .col-md-11 {
        -ms-flex-preferred-size: 91.667%;
        flex-basis: 91.667%;
        max-width: 91.667%;
    }
    .col-md-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }
    .col-md-offset-1 {
        margin-left: 8.333%;
    }
    .col-md-offset-2 {
        margin-left: 16.667%;
    }
    .col-md-offset-3 {
        margin-left: 25%;
    }
    .col-md-offset-4 {
        margin-left: 33.333%;
    }
    .col-md-offset-5 {
        margin-left: 41.667%;
    }
    .col-md-offset-6 {
        margin-left: 50%;
    }
    .col-md-offset-7 {
        margin-left: 58.333%;
    }
    .col-md-offset-8 {
        margin-left: 66.667%;
    }
    .col-md-offset-9 {
        margin-left: 75%;
    }
    .col-md-offset-10 {
        margin-left: 83.333%;
    }
    .col-md-offset-11 {
        margin-left: 91.667%;
    }
    .start-md {
        -ms-flex-pack: start;
        -webkit-box-pack: start;
        justify-content: flex-start;
        text-align: start;
    }
    .center-md {
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
        text-align: center;
    }
    .end-md {
        -ms-flex-pack: end;
        -webkit-box-pack: end;
        justify-content: flex-end;
        text-align: end;
    }
    .top-md {
        -ms-flex-align: start;
        -webkit-box-align: start;
        align-items: flex-start;
    }
    .middle-md {
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
    }
    .bottom-md {
        -ms-flex-align: end;
        -webkit-box-align: end;
        align-items: flex-end;
    }
    .around-md {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .between-md {
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
    .first-md {
        -ms-flex-order: -1;
        -webkit-box-ordinal-group: 0;
        order: -1;
    }
    .last-md {
        -ms-flex-order: 1;
        -webkit-box-ordinal-group: 2;
        order: 1;
    }
}

@media only screen and (min-width: 75em) {
    .container {
        width: 71rem;
    }
    .col-lg,
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        box-sizing: border-box;
        -ms-flex: 0 0 auto;
        -webkit-box-flex: 0;
        flex: 0 0 auto;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .col-lg {
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        -webkit-box-flex: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%;
    }
    .col-lg-1 {
        -ms-flex-preferred-size: 8.333%;
        flex-basis: 8.333%;
        max-width: 8.333%;
    }
    .col-lg-2 {
        -ms-flex-preferred-size: 16.667%;
        flex-basis: 16.667%;
        max-width: 16.667%;
    }
    .col-lg-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%;
    }
    .col-lg-4 {
        -ms-flex-preferred-size: 33.333%;
        flex-basis: 33.333%;
        max-width: 33.333%;
    }
    .col-lg-5 {
        -ms-flex-preferred-size: 41.667%;
        flex-basis: 41.667%;
        max-width: 41.667%;
    }
    .col-lg-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
    }
    .col-lg-7 {
        -ms-flex-preferred-size: 58.333%;
        flex-basis: 58.333%;
        max-width: 58.333%;
    }
    .col-lg-8 {
        -ms-flex-preferred-size: 66.667%;
        flex-basis: 66.667%;
        max-width: 66.667%;
    }
    .col-lg-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%;
    }
    .col-lg-10 {
        -ms-flex-preferred-size: 83.333%;
        flex-basis: 83.333%;
        max-width: 83.333%;
    }
    .col-lg-11 {
        -ms-flex-preferred-size: 91.667%;
        flex-basis: 91.667%;
        max-width: 91.667%;
    }
    .col-lg-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }
    .col-lg-offset-1 {
        margin-left: 8.333%;
    }
    .col-lg-offset-2 {
        margin-left: 16.667%;
    }
    .col-lg-offset-3 {
        margin-left: 25%;
    }
    .col-lg-offset-4 {
        margin-left: 33.333%;
    }
    .col-lg-offset-5 {
        margin-left: 41.667%;
    }
    .col-lg-offset-6 {
        margin-left: 50%;
    }
    .col-lg-offset-7 {
        margin-left: 58.333%;
    }
    .col-lg-offset-8 {
        margin-left: 66.667%;
    }
    .col-lg-offset-9 {
        margin-left: 75%;
    }
    .col-lg-offset-10 {
        margin-left: 83.333%;
    }
    .col-lg-offset-11 {
        margin-left: 91.667%;
    }
    .start-lg {
        -ms-flex-pack: start;
        -webkit-box-pack: start;
        justify-content: flex-start;
        text-align: start;
    }
    .center-lg {
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
        text-align: center;
    }
    .end-lg {
        -ms-flex-pack: end;
        -webkit-box-pack: end;
        justify-content: flex-end;
        text-align: end;
    }
    .top-lg {
        -ms-flex-align: start;
        -webkit-box-align: start;
        align-items: flex-start;
    }
    .middle-lg {
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
    }
    .bottom-lg {
        -ms-flex-align: end;
        -webkit-box-align: end;
        align-items: flex-end;
    }
    .around-lg {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .between-lg {
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
    .first-lg {
        -ms-flex-order: -1;
        -webkit-box-ordinal-group: 0;
        order: -1;
    }
    .last-lg {
        -ms-flex-order: 1;
        -webkit-box-ordinal-group: 2;
        order: 1;
    }
}


/* CSS STYLES */

body {
    font-family: "Gotham", Helvetica, sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased !important;
    /* overflow-x: hidden; */
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #444444;
    font-family: "Gotham", Helvetica, sans-serif;
}

h1 {
    font-size: 45px;
    font-weight: 500;
    line-height: 54px;
}

h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: 55px;
}

h3 {
    color: #A0830B;
    font-size: 35px;
    font-weight: 500;
    line-height: 42px;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
}

h5 {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

h6 {
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
}

p {
    font-family: "Gotham", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
}

a {
    color: #A0830B;
}

section,
footer {
    padding: 60px 0px;
}

img {
    width: 100%;
}

button {
    cursor: pointer;
}

:focus {
    outline: none;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    /* for edge cases: */
    width: 100%;
    max-width: 100%;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.plain-li {
        font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: #444;
}


/* HEADER SECTION */

.header--banner {
    background: linear-gradient(135deg, #FFFFFF 0%, #EDEDED 100%);
    width: 100%;
    height: 40.3rem;
    position: relative;
    overflow: hidden;
}

.nav--container {
    height: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav--container ul {
    margin: 21px 0px;
    padding: 0px;
}

.nav--links {
    font-family: "Gotham", Helvetica, sans-serif;
    display: inline-block;
    color: #000;
    line-height: 21px;
    margin-left: 40px;
    padding-bottom: 7px;
    padding-top: 7px;
    text-transform: capitalize;
}

.nav--links:last-child {
    margin-left: 10px;
}

.header--logo {
    width: auto;
    height: 78px;
}

.nav--links a {
    color: #444444;
    font-family: "Gotham", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}

.header--content {
    position: relative;
    transform: translateY(70%);
    padding-left: 0px;
}

.header--title {
    margin-bottom: 20px;
    text-transform: capitalize;
    margin-top: 0px;
    color: #A0830B;
}

.header--content p {
    margin: 0px 0px 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.header--globe {
    background-image: url(../img/header-globe.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 50%;
    height: 500px;
    top: 9rem;
    left: 50%;
    position: absolute;
}

.pulse {
    background: #A0830B;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    margin: 11px 0px 0px -12px;
    -webkit-transform: rotateX(55deg);
    -moz-transform: rotateX(55deg);
    -o-transform: rotateX(55deg);
    -ms-transform: rotateX(55deg);
    transform: rotateX(55deg);
    z-index: 0;
}

.pulse-1 {
    position: absolute;
    left: 70%;
    top: 50%;
}

.pulse-2 {
    position: absolute;
    left: 80%;
    top: 30%;
}

.pulse-3 {
    position: absolute;
    left: 80%;
    top: 40%;
}

.pulse-4 {
    position: absolute;
    left: 70%;
    top: 30%;
}

.pulse:after {
    content: "";
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    margin: -13px 0 0 -13px;
    -webkit-animation: pulsate 1s ease-out;
    -moz-animation: pulsate 1s ease-out;
    -o-animation: pulsate 1s ease-out;
    -ms-animation: pulsate 1s ease-out;
    animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-box-shadow: 0 0 1px 2px #78630D;
    box-shadow: 0 0 1px 2px #78630D;
    -webkit-animation-delay: 1.1s;
    -moz-animation-delay: 1.1s;
    -o-animation-delay: 1.1s;
    -ms-animation-delay: 1.1s;
    animation-delay: 1.1s;
}

@-moz-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        -moz-transform: scale(0.1, 0.1);
        -o-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    50% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    100% {
        -webkit-transform: scale(1.2, 1.2);
        -moz-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        -moz-transform: scale(0.1, 0.1);
        -o-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    50% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    100% {
        -webkit-transform: scale(1.2, 1.2);
        -moz-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}

@-o-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        -moz-transform: scale(0.1, 0.1);
        -o-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    50% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    100% {
        -webkit-transform: scale(1.2, 1.2);
        -moz-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}

@keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        -moz-transform: scale(0.1, 0.1);
        -o-transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    50% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    100% {
        -webkit-transform: scale(1.2, 1.2);
        -moz-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}


/* Buttons */

.btn--xs {
    padding: 10px 20px !important;
}

.btn--block--lg {
    width: 100%;
}

.btn,
.btn--xs {
    border-radius: 5px;
    box-shadow: 0 3px 10px 3px rgba(160, 131, 11, 0.14);
    padding: 10px 45px;
    text-transform: capitalize;
    font-weight: 500;
}

.btn--fill {
    border: 1px solid #A0830B;
    background-color: #A0830B;
    color: #fff !important;
}

.btn--fill:hover,
input.cta--btn:hover {
    background: #B19A39;
    border-color: #B19A39;
    box-shadow: 0 3px 5px 1px rgba(177, 154, 57, 0.2);
}

.btn--stroke,
.cta--btn--stroke {
    border: 1px solid #A0830B;
    background: #fff;
    color: #444444 !important;
}

.btn--stroke:hover,
.cta--btn--stroke:hover {
    background: #f7f7f7;
    box-shadow: 0 3px 5px 1px rgba(143, 117, 9, 0.2);
}


/* .btn--lg {
    border-radius: 5px;
    font-family: "Gotham", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 60px 40px;
    text-align: center;
    text-transform: capitalize;
}

.btn--lg span {
    color: #ffffff;
} */


/* a.pool--link {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
} */

.btn--green {
    border: 1px solid #1D9300;
    background-color: #1D9300;
    box-shadow: 0 3px 10px 3px rgba(29, 147, 0, 0.3);
    color: #fff;
    position: relative;
    top: 64%;
    /* margin-right: 15px; */
    text-transform: capitalize;
}

.btn--green:hover {
    background: #469B31;
    border-color: #469B31;
    box-shadow: 0 3px 5px 1px rgba(70, 155, 49, 0.2);
}

.btn--black {
    border: 1px solid #000000;
    background-color: #000000;
    box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.3);
    color: #fff;
    position: relative;
    top: 64%;
    margin-right: 15px;
    text-transform: capitalize;
}

.btn--black:hover {
    background: #313131;
    border-color: #313131;
    box-shadow: 0 3px 5px 1px rgba(49, 49, 49, 0.2);
}

.btn--red {
    border: 1px solid #EA0606;
    background-color: #EA0606;
    box-shadow: 0 3px 10px 3px rgba(234, 6, 6, 0.3);
    color: #fff;
    position: relative;
    top: 64%;
    margin-right: 15px;
    text-transform: capitalize;
}

.btn--red:hover {
    background: #ED3535;
    border-color: #ED3535;
    box-shadow: 0 3px 5px 1px rgba(237, 53, 53, 0.2);
}

.btn--blue {
    border: 1px solid #1D4A99;
    background-color: #1D4A99;
    box-shadow: 0 3px 10px 3px rgba(29, 74, 153, 0.3);
    color: #fff;
    position: relative;
    top: 44%;
    margin-right: 15px;
    text-transform: capitalize;
}

.btn--blue:hover {
    background: #486CAC;
    border-color: #486CAC;
    box-shadow: 0 3px 5px 1px rgba(72, 108, 172, 0.2);
}

.btn--purple {
    border: 1px solid #CC27F4;
    border-radius: 5px;
    background-color: #CC27F4;
    box-shadow: 0 3px 10px 3px rgba(204, 39, 244, 0.3);
    color: #fff;
    position: relative;
    top: 54%;
    margin-right: 15px;
    text-transform: capitalize;
}

.btn--purple:hover {
    background: #D550F6;
    border-color: #D550F6;
    box-shadow: 0 3px 5px 1px rgba(213, 80, 246, 0.2);
}

.btn--grey {
    border: 1px solid #606060;
    border-radius: 5px;
    background-color: #606060;
    box-shadow: 0 3px 10px 3px rgba(96, 96, 96, 0.3);
    color: #fff;
    position: relative;
    top: 54%;
    margin-right: 15px;
    text-transform: capitalize;
}

.btn--grey:hover {
    background: #7E7E7E;
    border-color: #7E7E7E;
    box-shadow: 0 3px 5px 1px rgba(126, 126, 126, 0.2);
}


/* Cards */

#section--returns .white--card {
    /*margin-top: -180px;*/
    z-index: 100;
    position: relative;
}

.section--goldtint--color .white--card:first-of-type {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.section--goldtint--color .white--card:last-of-type {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.section--goldtint--color .white--card:nth-of-type(2),
.section--goldtint--color .white--card:nth-of-type(3),
.section--goldtint--color .white--card:nth-of-type(4),
.section--goldtint--color .white--card:nth-of-type(5) {
    border-radius: 0px;
}

#section--returns .white--card .col-md-5 {
    border-right: 1px solid #E6E6E6;
}

#section--returns .white--card .col-md-6 {
    margin: 0 auto;
    /* padding-top: 12px; */
}

#section--returns .white--card h1 {
    color: #A0830B;
    font-family: "Gotham", Helvetica, sans-serif;
    font-size: 180px;
    font-weight: 500;
    margin-bottom: 50px;
    text-align: center;
    margin-top: 90px;
}

#section--returns .white--card p {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

#section--returns .white--card h4 {
    color: #A0830B;
    font-family: "Gotham", Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 40px;
}

#section--returns .white--card li {
    color: #444444;
    font-family: "Gotham", Helvetica, sans-serif;
    font-size: 20px;
    line-height: 37px;
    font-weight: 400;
}

#section--returns .white--card ul {
    padding-left: 25px;
    margin-top: -15px;
}

.white--card {
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 10px 30px 3px rgba(85, 85, 85, 0.08);
}

.section--goldtint--color .white--card {
    padding: 10px;
    border-bottom: 1px solid #E6E6E6;
}

.section--goldtint--color .col-md-10 {
    margin: 0 auto;
}


/* .section--goldtint--color .white--card p {
    padding: 0px 30px 0px 50px;
    text-align: left;
    position: relative;
    top: 35%;
} */

.section--goldtint--color .white--card p {
    padding: 0px 0px 0px 10px;
    text-align: left;
    position: relative;
    top: 25%;
}

.section--goldtint--color .white--card p.vl--b,
.section--goldtint--color .white--card p.vl--p {
    position: relative;
    top: 0%;
}


/* img.pool--logo {
    width: 70%;
    position: relative;
    top: 20px;
} */

img.pool--logo {
    width: 45%;
    position: relative;
    top: 20px;
    left: 0px;
}

.green--card {
    border-radius: 5px;
    background-color: #1D9300;
    box-shadow: 0 10px 30px 3px rgba(29, 147, 0, 0.3) !important;
}

.black--card {
    border-radius: 5px;
    background-color: #000000;
    box-shadow: 0 10px 30px 3px rgba(0, 0, 0, 0.3) !important;
}

.red--card {
    border-radius: 5px;
    background-color: #EA0606;
    box-shadow: 0 10px 30px 3px rgba(234, 6, 6, 0.3) !important;
}

.green--card h1,
.black--card h1,
.red--card h1 {
    color: #FFFFFF;
    font-family: "Gotham", Helvetica, sans-serif;
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 10px;
    padding-top: 40px;
    text-align: center;
}

.green--card h6,
.black--card h6,
.red--card h6 {
    color: #FFFFFF;
    font-family: "Gotham", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin: 0px;
}

.green--card p,
.black--card p,
.red--card p {
    color: #FFFFFF;
    text-align: center;
    font-family: "Gotham", Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 30px;
    margin-top: 10px;
}

.section--title {
    text-align: center;
    text-transform: capitalize;
}

#section--gold .section--title {
    margin-bottom: 0px;
}

#section--returns h3 {
    width: 100%;
    margin: 115px 0px 50px;
}


/* Backgrounds */

.section--goldtint--color {
    background-color: #FBFAF5;
}

#section--returns {
    background: #fff;
}

#section--people {
    background: rgba(216, 216, 216, .2);
}

#section--gold {
    background: linear-gradient(135.01deg, #A0830B 0%, #372C00 100%);
}

#section--gold p {
    margin-bottom: 30px;
}

#section--gold .section--title,
#section--gold p {
    color: #fff;
}

.footer--black--color {
    background-color: #000000;
}


/* Our People */

.person--img {
    background-size: contain;
    border-radius: 5px;
    height: 0;
    padding-bottom: 90.7%;
    position: relative;
    width: 100%;
}

.person--img--name {
    color: #fff;
    font-family: "Gotham", Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: .6px;
    line-height: 1.2;
    position: absolute;
    bottom: 16px;
    left: 47px;
    z-index: 1;
}

.person--textbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: -38px;
    bottom: -38px;
    left: -38px;
    right: -38px;
    width: auto;
    height: auto;
    padding: 45px 47px;
}

.person--textbox {
    background: linear-gradient(135.01deg, #A0830B 0%, #372C00 100%);
    background-color: #A0830B;
    height: 0;
    opacity: 0;
    padding-bottom: 100%;
    -webkit-transform: scale(.9);
    transform: scale(.9);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 100%;
}

.person--textbox--text {
    margin: 0;
    opacity: 0;
    padding: 0 49px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
    position: absolute;
    opacity: 1;
}

.person--textbox--text.name--title {
    padding: 0px;
}

.person--name {
    color: #fff;
    font-family: "Gotham", Helvetica, sans-serif;
    font-size: 28px;
    letter-spacing: .3px;
    line-height: 1.4;
}

.image--title--bg {
    position: absolute;
    height: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(216, 216, 216, 0) 100%);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.person--textbox--text.text--body {
    font-size: 16px;
}

.person--textbox--text.text--body {
    color: #fff;
    font-family: "Gotham", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.69;
    padding: 0px 28px 0px 0px;
    margin-top: 0px;
    margin-right: 25px;
}

.person--textbox>div {
    overflow: auto;
    height: 100%;
}


/* close button */

img.close--btn {
    width: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    background: rgba(225, 225, 225, 0.2);
    border-radius: 100px;
    padding: 10px;
}


/* For the hover effect */

.person--profile--container:hover .person--textbox {
    border-radius: 5px;
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    z-index: 20
}

.person--profile--container.active .person--textbox--text {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}

.person--profile--container.active .person--textbox--text.name--title {
    padding-top: 47px
}

.person--profile--container.active .person--textbox--text {
    z-index: 20
}

.person--profile--container.active .person--textbox--text {
    opacity: 1
}

.person--profile--container:hover .person--textbox--text {
    opacity: 1;
}


/* CTA */

.input--email--bg {
    background: #fff;
    box-shadow: 0 3px 12px 2px rgba(255, 255, 255, 0.14);
    border-radius: 5px;
    /* height: 55px; */
    margin: 0 auto;
    width: 80%;
}

input.email {
    width: 52%;
    height: 55px;
    border: none;
    margin-left: 35px;
    color: #444;
}

input.email::placeholder {
    color: #777777;
    font-family: "Gotham", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

input.cta--btn {
    border: 1px solid #A0830B;
    border-radius: 5px;
    background-color: #A0830B;
    box-shadow: 0 3px 12px 2px rgba(160, 131, 11, 0.3);
    color: #FFFFFF;
    font-family: "Gotham", Helvetica, sans-serif;
    font-weight: 500;
    padding: 14px 50px;
    text-transform: capitalize;
    cursor: pointer;
}

button.btn.cta--btn--stroke {
    box-shadow: 0 3px 12px 2px rgba(160, 131, 11, 0.3);
    color: #444444;
    font-family: "Gotham", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}


/* Footer */

footer p {
    color: #fff;
    font-family: "Gotham", Helvetica, sans-serif;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
}

footer h6 {
    color: #fff;
}

footer hr {
    border: 1px solid #FFFFFF;
    opacity: 0.15;
}

ul.list {
    color: #fff;
    list-style: none;
    font-family: "Gotham", Helvetica, sans-serif;
    font-size: 12px;
    line-height: 22px;
    padding-left: 0px;
    font-weight: 400;
    margin-top: -10px;
}

ul.list a {
    color: #fff;
}

span.type--fine-print {
    color: #888888;
    font-family: "Gotham", Helvetica, sans-serif;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
}

.textleft {
    text-align: left;
}

.text--right {
    text-align: right;
}

a.type--fine-print {
    color: #888888;
    font-family: "Gotham", Helvetica, sans-serif;
    font-size: 12px;
    line-height: 12px;
    text-align: right;
    font-weight: 400;
}

footer img {
    width: auto;
    height: 70px;
}

.footer--copy {
    margin: 32px 0px;
}

footer .footer--copy .col-xs-12 {
    padding: 0px;
}

footer.footer--black--color {
    padding-bottom: 10px;
}


/* LOGIN PAGE */

.signup--page .nav--container {
    justify-content: center;
}

.signup--page .signup--box {
    background-color: #FFFFFF;
    box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.08);
    margin: 65px auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.signup--box h4 {
    color: #444444;
    font-family: "Gotham", Helvetica, sans-serif;
    margin-bottom: 0px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 400;
}

.signup--box p {
    margin: 17px 0px;
    text-align: center;
}

.signup--page .form-group-default {
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.01);
    height: 55px;
    position: relative;
    padding-top: 2px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 2px;
    /*overflow: hidden;*/
}

.signup--page .form-group {
    margin: 25px 0px;
}

.signup--page .form-group-default label {
    text-transform: capitalize;
    color: #444444;
    font-family: "Gotham", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.signup--page .form-group-default .form-control {
    border: none !important;
    height: 25px;
    min-height: 25px;
    margin: 10px 0;
    background: none !important;
    box-shadow: none;
    width: 100%;
}

.signup--page .form-control {
    display: block;
}

.signup--page .form-group {
    margin-bottom: 20px;
}

.signup--page .btn--fill {
    border: 1px solid #A0830B;
    border-radius: 5px;
    background-color: #A0830B;
    box-shadow: 0 3px 10px 3px rgba(160, 131, 11, 0.14);
    color: #FFFFFF;
    font-family: "Gotham", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.signup--page form a {
    text-decoration: underline;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.form-group.has-error {
    border-color: #ea0606;
    margin-bottom: 35px; 
}

.form-group.has-error .help-block {
    color: #ea0606;
    font-size: 12px;
}


/* Notifications */

.notification-success,
.notification-error,
.notification-warning {
    font-family: 'Gotham', Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;

    margin: 20px 0;
    padding: 15px;

    color: #444;
    background-color: #fff;
    box-shadow: 0 10px 30px 3px rgba(85, 85, 85, .08);
}

.notification-success {
    border-left: 5px solid #1d9300;
}

.notification-error {
    border-left: 5px solid #ea0606;
}

.notification-warning {
    border-left: 5px solid #ffba01;
}
